@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

.loader {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    transform: scale(0);
    opacity: 1;
  }
}

.border--button--outlined {
  border: 1px solid black;
}

.custom__conatiner {
  max-width: 80%;
}

.button-filled {
  color: black;
  background-color: goldenrod;
}


.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-decoration: line-through;
}

/* Apply green color to Fridays */
.day.green-day {
  text-decoration: none;
  cursor: pointer;
}

/* .dot{
  width: 1px;
  border-bottom: 4px solid green;
  border-radius: 100%;
  margin: 0 auto;
} */

.dot {
  display: block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  /* Make it a circle */
  margin: 0 auto;
  margin-top: 5px;
  /* Adjust the margin to position the circle below the item */
}


.mycontainer {
  width: 100%;
  height: 75px;
}

.mycustomwidth {
  width: 80%;
}

.green-day {
  display: flex;
  flex-direction: column;
}

.text-white {
  background-color: black;
  border-radius: 2px;
}

.text-black {
  background-color: #DAA520;
  color: black;
}

.custom__container__success {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: 100%;
  padding-top: 18rem;
  background: rgba(0, 0, 0, 0.5);
}

.customBordered {
  border-radius: 0.25rem;
}

.customContainer {
  margin: 0.4rem 0;
}

.address {
  padding: 0.3rem 0;
}

.yelloo_bg {
  background: #DAA520;
  border-radius: 2px;
}

.green-button {
  background-color: #96C291 !important;
}

.black-button {
  background-color: black !important;
  color: white;
}


.dark {
  background-color: #fff3d6;
}

/* Define a custom scrollbar style */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
  /* Thumb color */
  border-radius: 6px;
  border: 3px solid #2d2d2d;
  /* Border color */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #a4a4a4;
  /* Track color */
  border-radius: 6px;
}


.ugh-white {
  color: white;
}

header{
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}